
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="PayDamagesModal" tabindex="-1" role="dialog" aria-labelledby="PayDamagesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Pay Damages</b>
                <b class="modal-title" style="color: darkblue;" id="lblRoomNoCehckIn"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="checkinid" name="checkinid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="chroomid">លេខបន្ទប់</label>
                            <select class="form-control input-sm" id="chroomid">
                                @foreach (var room in Model.ItemList)
                                {
                                    <option value=@room.id>@room.itemnamekh</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="enddate">កាលបរិច្ឆេទ</label>
                            <input id="enddate" name="enddate" disabled type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="roomno">តម្លៃ</label>
                            <input id="roomno" name="roomno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="roomno">ចំណាំ</label>
                            <input id="roomno" name="roomno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnSaveCheckIn" onclick="SaveCheckIn();" class="btn btn-info btn-block btn-sm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
