
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="PayDamagesModal" tabindex="-1" role="dialog" aria-labelledby="PayDamagesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="CloseForm();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Pay Damages</b>
                <b class="modal-title" style="color: darkblue;" id="lblRoomNoCehckIn"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="pdid" name="pdid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="guestid" name="guestid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="chroomid">សម្ភារៈ</label>
                                    <select class="form-control input-sm" id="itemid">
                                        <option value="0">---------Please choose item------</option>
                                        @foreach (var room in Model.ItemList)
                                        {
                                            <option value=@room.id>@room.itemnamekh</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="itemprice">តម្លៃ</label>
                                    <input id="itemprice" name="price" disabled placeholder="Item Price" type="number" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="price">បង់ថ្លៃខូចខាត</label>
                                    <input id="price" name="price" placeholder="Enter Guest Name" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="note">ចំណាំ</label>
                            <input id="note" name="note" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnSavePayDemage" onclick="SavePayDemage();" class="btn btn-info btn-block btn-sm">Save</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <label for="fromdate">កាលបរិច្ឆេទ</label>
                            <input id="fromdate" name="fromdate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Enter Product Name" />
                            <input id="today" name="today" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" style="display: none;" />
                        </div>
                    </div>
                </div>
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tablePayDamages">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

