
<div class="modal fade " data-backdrop="static" data-keyboard="false" id="PrintNewInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="PrintNewInvoiceModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnClosePrintInv();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">ចេញវិក័យបត្រ</b>
                <b class="modal-title" style="color: darkblue;" id="lblExchangeRate"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="invoiceid" name="invoiceid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="roomid" name="kroomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="checkinid" name="checkinid" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="invoiceno">លេខវិក័យបត្រ</label>
                                            <input id="invoiceno" readonly="readonly" name="invoiceno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="invoicedate">កាលបរិច្ឆេទ</label>
                                            <input id="invoicedate" name="invoicedate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="guestname">ភ្ញៀវ</label>
                                            <input id="guestname" readonly="readonly" name="guestname" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="roomno">បន្ទប់</label>
                                            <input id="roomno" readonly="readonly" name="roomno" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="roomprice">តម្លៃបន្ទប់</label>
                                            <input id="roomprice" readonly="readonly" name="roomprice" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="oldrecordwater">គីឡូទឺកចាស់</label>
                                                    <input id="oldrecordwater" readonly="readonly" name="oldrecordwater" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="newrecordwater">គីឡូទឺកថ្មី</label>
                                                    <input id="newrecordwater" onchange="NewRecordWaterChange();" name="newrecordwater" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="totalwaterusage">សរុបការប្រើប្រាស់ទឺក($)</label>
                                            <input id="totalwaterusage" readonly="readonly" name="totalwaterusage" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="oldrecordpower">គីឡូភ្លើងចាស់</label>
                                                    <input id="oldrecordpower" readonly="readonly" name="oldrecordpower" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="newrecordpower">គីឡូភ្លើងថ្មី</label>
                                                    <input id="newrecordpower"  onchange="NewRecordPowerChange()" name="newrecordpower" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="totalpowerusage">សរុបការប្រើប្រាស់ភ្លើង($)</label>
                                            <input id="totalpowerusage" readonly="readonly" name="totalpowerusage" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="servicecharge">បង់ថ្លៃសេវា</label>
                                            <input id="servicecharge" readonly="readonly" name="servicecharge" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="totalpayment">សរុបប្រាក់ត្រូវបង់ $</label>
                                            <input id="totalpayment" readonly="readonly" name="totalpayment" placeholder="Enter Passport Number" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="totalpaymentreil">សរុបប្រាក់ត្រូវបង់ ៛</label>
                                            <input id="totalpaymentreil" disabled name="totalpaymentreil" placeholder="Enter Email" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="note">ពណ៌នា</label>
                                            <input rows="2" id="note" name="note" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />

                                        </div>
                                        <label>&nbsp;</label>
                                        <button type="button" id="btnPayment" onclick="PrintInvoice();" class="btn btn-info btn-block btn-sm">Print Invoice</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function PrintInvoice() {
        var data = {
            id: $('#invoiceid').val(),
            note: $('#note').val(),
            exchangerateid: @Model.ExchangeRateID,
            grandtotal:$('#totalpayment').val(),
            totalriel:$('#totalpaymentreil').val(),
            totaldollar:$('#totalpayment').val(),
            totalother:$('#servicecharge').val(),
        };

        $.ajax({
            url: "/api/invoices/" + data.id,
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                UpdatePower();
                UpdateWater();
                alert('Print Invoice successfully!');
            },
            error: function (errormesage) {
                toastr.error("This Booking ID is exist in Database", "Server Respond");
            }
        });
    }
    function NewRecordWaterChange(){
        var waternewrecord = document.getElementById('newrecordwater').value;
        var wateroldrecord = document.getElementById('oldrecordwater').value;
        //var totalwaterusage = (parseFloat(waternewrecord) - parseFloat(wateroldrecord)) * 1500;
        //if (totalwaterusage <= 0) {
        //    alert('Faild!');
        //    $('#newrecordwater').focus();
        //} else {
        //    $('#totalwaterusage').val(totalwaterusage);
        //    TotalPayment();
        //}

        $.ajax({
            url: "/api/ExchangeRates/1/2",
            method: "GET",
            success: function (data) {
                var rate = data.rate;
                var totalwaterusage = ((parseFloat(waternewrecord) - parseFloat(wateroldrecord)) * 1500)/rate;
                if (totalwaterusage <= 0) {
                    alert('Faild!');
                    $('#newrecordwater').focus();
                } else {
                    $('#totalwaterusage').val(totalwaterusage.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    TotalPayment();
                }
            },
            error: function (err) {
                toastr.error("no data record");
            }
        });
    }
    function NewRecordPowerChange(){
        var powernewrecord = document.getElementById('newrecordpower').value;
        var powerroldrecord = document.getElementById('oldrecordpower').value;
        //var totalwaterusage = (parseInt(powernewrecord) - parseInt(powerroldrecord)) * 2000;
        //if (totalwaterusage <= 0) {
        //    alert('Faild!');
        //    $('#newrecordwater').focus();
        //} else {
        //    $('#totalpowerusage').val(totalwaterusage);
        //    TotalPayment();
        //}
        $.ajax({
            url: "/api/ExchangeRates/1/2",
            method: "GET",
            success: function (data) {
                var rate = data.rate;
                var totalwaterusage = ((parseInt(powernewrecord) - parseInt(powerroldrecord)) * 2000)/rate;
                if (totalwaterusage <= 0) {
                    alert('Faild!');
                    $('#newrecordwater').focus();
                } else {
                    $('#totalpowerusage').val(totalwaterusage.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    TotalPayment();
                }
            },
            error: function (err) {
                toastr.error("no data record");
            }
        });

    }

    function TotalPayment(){
        var totalwaterusage = document.getElementById('totalwaterusage').value;
        var totalpowerusage = document.getElementById('totalpowerusage').value;
        var roomprice = document.getElementById('roomprice').value;
        var servicecharge = document.getElementById('servicecharge').value;
        var grandtotal=parseFloat(totalwaterusage)+parseFloat(totalpowerusage)+parseFloat(roomprice)+parseFloat(servicecharge);
        $('#totalpayment').val(grandtotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $('#totalpaymentreil').val((grandtotal * 4130).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
    }


    function UpdateWater() {
        $.ajax({
            type: "PUT",
            url: "/api/updatewaters/"+$('#checkinid').val()+"/"+$('#newrecordpower').val(),
            contentType: false,
            processData: false,
            success: function (result) {
                //toastr.success("Room Status has been Update successfully.", "Server Response");
            },
            error: function (error) {
                //toastr.error("Update room status fail!", "Server Response");
            }
        });
    }

    function UpdatePower() {
        $.ajax({
            type: "PUT",
            url: "/api/updatepowers/"+$('#checkinid').val()+"/"+$('#newrecordpower').val(),
            contentType: false,
            processData: false,
            success: function (result) {
                //toastr.success("Room Status has been Update successfully.", "Server Response");
            },
            error: function (error) {
                //toastr.error("Update room status fail!", "Server Response");
            }
        });
    }

    function InsertInvoice() {
        var data = {
            invoiceno: $('#invoiceno').val(),
            checkinid: $('#checkinid').val(),
            guestid: $('#guestid').val(),
            note: $('#note').val(),
            exchangerateid: @Model.ExchangeRateID,
            grandtotal:$('#totalpayment').val(),
            totalriel:$('#totalpaymentreil').val(),
            totaldollar:$('#totalpayment').val(),
            totalother:$('#servicecharge').val(),

        };

        $.ajax({
            url: "/api/invoices",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                UpdatePower();
                UpdateWater();
                alert('Print Invoice successfully!');
            },
            error: function (errormesage) {
                toastr.error("This Booking ID is exist in Database", "Server Respond");

            }
        });
    }
    function OnClosePrintInv() {
        window.location.reload();
    }  
</script>
    
