
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">

            @*<button id="test" class="btn-success btn-xs pull-right"  type="button" onclick="OnClick();" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បន្ថែមបុគ្គលិក</button>
            <button class="btn-success btn-xs pull-right" type="button"  style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> គ្រប់គ្រងតួនាទី</button>*@
            
            <h5 class="modal-title" style="color:aliceblue">គ្រប់គ្រងការចូលស្នាក់នៅ</h5>
        </div>
        <div class="panel-body">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableCheckInDetail">
                <thead>
                    <tr>
                        <th >លេខ</th>
                        <th >ឈ្មោះ</th>
                        <th >ថ្ងៃចូលស្នាក់នៅ</th>
                        <th >បន្ទប់លេខ</th>
                        <th >ជាន់</th>
                        <th >អគារ</th>
                        @*<th>ថ្ងៃចាប់ផ្តើម</th>
                        <th >បង់ប្រាក់ខែថ្មី</th>*@
                        <th style="width:7%">ស្ថានភាព</th>
                        <th style="width:12%">សកម្មភាព</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_PrintNewInvoice")

@section scripts{
    @Scripts.Render("~/Scripts/Functions/checkin.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}

 