
@{
    ViewBag.Title = "Manage Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 style="color: darkblue;">គ្រប់គ្រងសម្ភារៈ</h4>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#ItemModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span>បន្ថែមសម្ភារៈ</a>
        </div>
    </div>
    <hr />
    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableItem">
        <thead>
            <tr>
                <th>លេខរៀង</th>
                <th>ឈ្មោះ</th>
                <th>ឈ្មោះជាភាសាខ្មែរ</th>
                <th>តម្លៃ</th>
                <th>ចំណាំ</th>
                <th>សកម្មភាព</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@Html.Partial("_Item")

@section scripts{
    @Scripts.Render("~/Scripts/Functions/item.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}


