
@{
    ViewBag.Title = "Manage PaymentMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            @*<button class="btn btn-primary btn-sm" onclick="sendMsgTelegram();">Send Telegram Message Testing</button>*@

            <button onclick="ClickAddnewPaymentMethod()" class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#PaymentMethodModel" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បង្កើតវិធីបង់ប្រាក់</button>
            <h5 class="modal-title">Manage PaymentMethod</h5>
        </div>
        <div class="panel-body">

            <div class="row" style="overflow:auto">
                <div class="col-md-12">
                    <table id="tablePaymentMethod" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Method Name</th>
                                <th>Account Number</th>
                                <th>Account Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

@Html.Partial("_PaymentMethod")

@section scripts
{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/paymentMethod.js")
}
