
@{
    ViewBag.Title = "Manage Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            @*<button class="btn btn-primary btn-sm" onclick="sendMsgTelegram();">Send Telegram Message Testing</button>*@

            <button onclick="ClickAddnewPricing()" class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#PricingModel" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បង្កើតតម្លៃថ្មី</button>
            <h5 class="modal-title">Manage Pricing</h5>
        </div>
        <div class="panel-body">

            <div class="row" style="overflow:auto">
                <div class="col-md-12">
                    <table id="tablePricing" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>លេខ</th>
                                <th>កាលបរិច្ឆេទ</th>
                                <th>បុគ្គលិក</th>
                                <th>ការពិពណ៌នា</th>
                                <th>តម្លៃ</th>
                                <th>បង្កើតដោយ</th>
                                <th>សកម្មភាព</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

@Html.Partial("_Pricing")
@section scripts
{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/pricing.js")
}
