<div class="modal fade " data-backdrop="static" data-keyboard="false" id="CheckInNowModal" tabindex="-1" role="dialog" aria-labelledby="CheckInNowModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnCloseBook()" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">ចូលស្នាក់នៅ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="bookid" name="bookid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="bookroomid" name="bookroomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="guestname">ឈ្មោះភ្ញៀវ</label>
                                            <input id="guestname" name="guestname" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gnamekh">ឈ្មោះភ្ញៀវជាភាសាខ្មែរ</label>
                                            <input id="gnamekh" name="gnamekh" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gsex">ភេទ</label>
                                            <select class="form-control input-sm" id="gsex">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dob">ថ្ងៃខែឆ្នាំកំណើត</label>
                                            <input id="dob" name="dob" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                                        </div>
                                        <div class="form-group">
                                            <label for="address">អាស័យដ្ឋាន</label>
                                            <input id="address" name="address" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nationality">សញ្ជាតិ</label>
                                            <input id="nationality" name="nationality" placeholder="Enter Nationality" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phonenumber">លេខទូរសព្ទ</label>
                                            <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">អ៊ីម៉ែល</label>
                                            <input id="email" name="email" placeholder="Enter Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ssn">លេខអត្តសញ្ញាណប័ណ្ណ</label>
                                            <input id="ssn" name="ssn" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="passport">លិខិតឆ្លងដែន</label>
                                            <input id="passport" name="passport" placeholder="Enter Passport Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bookingno">លេខរៀងកក់</label>
                                            <input id="bookingno" name="bookingno" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="frmbookroomid">លេខបន្ទប់</label>
                                            <select class="form-control input-sm" id="frmbookroomid">
                                                @foreach (var room in Model.ListRoomFree)
                                                {
                                                    <option value=@room.id>@room.room_no</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="man">បុរស</label>
                                            <input id="man" name="man" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="women">ស្ត្រី</label>
                                            <input id="women" name="women" placeholder="Enter number of women" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="child">ក្មេងៗ</label>
                                            <input id="child" name="child" placeholder="Enter number of child" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">លេខកុងទ័រភ្លើង</label>
                                            <input id="powerprerecord" name="powerprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">លេខកុងទ័រទឹក</label>
                                            <input id="waterprerecord" name="waterprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                                        </div>
                                        <div class="form-group">
                                            <span>អត្រាប្តូរប្រាក់</span> : 1 <span>$</span> = <label id="examount"></label><span> រៀល</span>
                                            <input type="hidden" id="exid" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <div class="col-md-3 col-md-offset-6" id="hidecheckout">
                    <button type="button" id="btnCheckOut" data-dismiss="modal" class="btn btn-danger btn-block btn-sm">Cancel</button>
                </div>
                <div class="col-md-3" id="hidepayment">
                    <button type="button" id="btnPayment" onclick="OnBookNowAction()" class="btn btn-info btn-block btn-sm">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
