
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CheckInModal" tabindex="-1" role="dialog" aria-labelledby="CheckInModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Check IN Roon</b>
                <b class="modal-title" style="color: darkblue;" id="lblRoomNoCehckIn"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="checkinid" name="checkinid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                       @* <input id="roomid" name="checkinroomid" type="text" style="display: none;" value="" class="form-control" />*@
                        
                        <div class="form-group">
                            <label for="checkinroomid">លេខបន្ទប់</label>
                            <select class="form-control input-sm" id="checkinroomid" disabled>
                                @foreach (var room in Model.ListRoomBook)
                                {
                                    <option value=@room.id>@room.room_no</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="guestidchin">លេខរៀងភ្ញៀវ</label>
                            <select class="form-control input-sm" id="guestidchin" disabled>
                                @foreach (var room in Model.GuestBook)
                                {
                                    <option value=@room.id>@room.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="man">បុរស</label>
                            <input id="man" name="man" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="women">ស្ត្រី</label>
                            <input id="women" name="women" placeholder="Enter number of women" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="child">ក្មេងៗ</label>
                            <input id="child" name="child" placeholder="Enter number of child" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="invno">លេខវិក័យបត្រ</label>
                            <input id="invno" disabled name="invno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">លេខកុងទ័រភ្លើង</label>
                            <input id="powerprerecord" name="powerprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label class="control-label">លេខកុងទ័រទឹក</label>
                            <input id="waterprerecord" name="waterprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                        </div>
                        <input type="hidden" id="wpid" />
                        <span >ថ្លៃភ្លើង</span> : 1m<sup>3</sup> = <label id="wprice"></label><span> រៀល</span>
                        <br />
                        <span>ថ្លៃទឹក</span> : 1​KWH = <label id="pprice"></label><span> រៀល</span>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnSaveCheckIn" onclick="CheckInAction()" class="btn btn-info btn-block btn-sm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //Insert Check In
    function CheckInAction() {
        var data = {
            roomid: $('#checkinroomid').val(),
            guestid: $('#guestidchin').val(),
            child: $('#child').val(),
            man: $('#man').val(),
            women: $('#women').val(),
        };
        $.ajax({
            url: "/api/checkins",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#CheckInModal").modal("hide");
                UpdateRoomStatus();
                UpdateGuestStatus();
                InsertPowerUsage(result);
                InsertWaterUsage(result);
                CreateInvoice();
                toastr.success("Check In successfully.", "Server Response");
            },
            error: function (errormesage) {
                toastr.error("This Name Guest is exist in Database", "Server Respond");
                return false;
            }

        });
    }

    function InsertPowerUsage(result) {
        var data = {
            guestid: $('#guestidchin').val(),
            prerecord: $('#powerprerecord').val(),
            checkinid: result,
        };
        $.ajax({
            url: "/api/powerusage",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Power usage insert faild!", "Server Respond");
                return false;
            }

        });
    }

    function InsertWaterUsage(result) {
        var data = {
            guestid: $('#guestidchin').val(),
            prerecord: $('#waterprerecord').val(),
            checkinid: result,
        };
        $.ajax({
            url: "/api/waterusage",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Water usage insert faild!", "Server Respond");
                return false;
            }

        });
    }


    function UpdateRoomStatus() {
        var rmid = document.getElementById('roomid');
        var rmname = document.getElementById('lblRoomNo').innerText;
        $("#roomidblock").val(rmid.value);
        $("#lblRoomNoBlock").text(rmname);

        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#roomid").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
                $("#RoomDetailModal").modal("hide");
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }

    function UpdateGuestStatus() {
        $.ajax({
            type: "PUT",
            url: "/api/updategueststatus/" + $("#guestidchin").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }

    function CreateInvoice() {
        var data = {
            invoiceno: $('#invno').val(),
            guestid: $('#guestidchin').val(),
            exchangerateid: @Model.ExchangeRateID,
        };

        

        $.ajax({
            url: "/api/invoices",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert('Print Invoice successfully!');
            },
            error: function (errormesage) {
                toastr.error("Create invoice faild...!"+errormesage, "Server Respond");
            }
        });
    }
</script>



