
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CheckInModal" tabindex="-1" role="dialog" aria-labelledby="CheckInModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;" id="lblRoom"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="checkinid" name="checkinid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                       @* <input id="roomid" name="checkinroomid" type="text" style="display: none;" value="" class="form-control" />*@
                        
                        <div class="form-group">
                            <label for="chroomid">លេខបន្ទប់</label>
                            <select class="form-control input-sm" id="chroomid" disabled>
                                @foreach (var room in Model.ListRoomBook)
                                {
                                    <option value=@room.id>@room.room_no</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="guestid">លេខរៀងភ្ញៀវ</label>
                            <select class="form-control input-sm" id="guestid" disabled>
                                @foreach (var room in Model.GuestList)
                                {
                                    <option value=@room.id>@room.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="roompricech">តម្លៃបន្ទប់</label>
                            <input id="roompricech" name="roompricech" placeholder="0.00" value="0" type="number" class="form-control input-sm" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="payforroom">បង់ថ្លៃបន្ទប់ចំនួន</label>
                            <input id="payforroom" name="payforroom" placeholder="0.00" value="0" onfocus="this.select();" type="number" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="paybefor">បង់មុនចំនួន</label>
                            <input id="paybefor" name="paybefor" placeholder="0.00" value="0" type="number" onfocus="this.select();" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input id="datenow" name="datenow" style="display: none;" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                        @*<div class="form-group">
                            <label for="invno">លេខវិក័យបត្រ</label>
                            <input id="invno" readonly="readonly" name="invno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="checkindate">កាលបរិច្ឆេទ</label>
                            <input id="checkindate" readonly="readonly" name="checkindate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                        </div>*@
                        <div class="form-group">
                            <label class="control-label" for="estartrecord">លេខកុងទ័រភ្លើង</label>
                            <input id="estartrecord" name="estartrecord" placeholder="Enter current number" onfocus="this.select();" value="0" type="number" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="wstartrecord">លេខកុងទ័រទឹក</label>
                            <input id="wstartrecord" name="wstartrecord" placeholder="Enter current number" onfocus="this.select();" value="0" type="number" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label for="man">បុរស</label>
                            <input id="man" name="man" placeholder="Enter number of man" type="number" onfocus="this.select();" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="women">ស្ត្រី</label>
                            <input id="women" name="women" placeholder="Enter number of women" type="number" onfocus="this.select();" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="child">ក្មេងៗ</label>
                            <input id="child" name="child" placeholder="Enter number of child" type="number" onfocus="this.select();" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnSaveCheckIn" onclick="CheckInAction()" class="btn btn-info btn-sm pull-right" style="margin:5px;width:100px">Save</button>
                            <button type="button" id="btnTest" onclick="OnCloseCheckIn()" class="btn btn-danger btn-sm pull-right" style="margin:5px;width:100px">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function OnCloseCheckIn() {
        window.location.reload(true);
    }
    function CheckInAction() {
        var data = {
            roomid: $('#chroomid').val(),
            guestid: $('#guestid').val(),
            child: $('#child').val(),
            man: $('#man').val(),
            women: $('#women').val(),
            prepaid: $('#paybefor').val(),
            payforroom: $('#paybefor').val(),
            
        };
        $.ajax({
            url: "/api/checkins",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                UpdateStatusRoom();
                UpdateStatusGuest();
                CreatetWaterElectricUsage(result);
                //InsertPowerUsage(result);
                //InsertWaterUsage(result);
                
            },
            error: function (errormesage) {
                toastr.error("This Name Guest is exist in Database", "Server Respond");
                return false;
            }

        });
    }

    function CreatetWaterElectricUsage(id) {
        var data = new FormData();
        data.append("checkinid", id);
        data.append("startdate", $('#checkindate').val());
        data.append("enddate", $('#checkindate').val());
        data.append("wstartrecord", $('#wstartrecord').val());
        data.append("wendrecord", $('#wstartrecord').val());
        data.append("estartrecord", $('#estartrecord').val());
        data.append("eendrecord", $('#estartrecord').val());
        $.ajax({
            type: "POST",
            url: "/api/waterelectricusages",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                //CreateInvoice();
                toastr.success("Check In successfully.", "Server Response");
                window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Electric usage insert faild!", "Server Respond");
                return false;
            }
        });
    }

  
    function CreateInvoice() {
        var data = {
            guestid: $('#guestid').val(),
            roomid: $('#chroomid').val(),
        };
        $.ajax({
            url: "/api/invoices",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                toastr.success("Check In successfully.", "Server Response");
                window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Create invoice faild...!" + errormesage, "Server Respond");
            }
        });
    }
    function UpdateStatusRoom() {
        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#chroomid").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }
    function UpdateStatusGuest() {
        $.ajax({
            type: "PUT",
            url: "/api/updategueststatus/" + $("#guestid").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }



    function InsertPowerUsage(id) {
        var data = new FormData();
        data.append("checkinid", id);
        data.append("predate", $('#datenow').val());
        data.append("prerecord", $('#powerprerecord').val());
        data.append("currentdate", $('#datenow').val());
        data.append("currentrecord", $('#powerprerecord').val());
        $.ajax({
            url: "/api/electrics",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {

            },
            error: function (errormesage) {
                toastr.error("Power usage insert faild!", "Server Respond");
                return false;
            }

        });
    }
    function InsertWaterUsage(id) {
        var data = new FormData();
        data.append("checkinid", id);
        data.append("predate", $('#datenow').val());
        data.append("prerecord", $('#waterprerecord').val());
        data.append("currentdate", $('#datenow').val());
        data.append("currentrecord", $('#waterprerecord').val());
        $.ajax({
            url: "/api/waterusage",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                InsertInvoice();
                //window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Water usage insert faild!", "Server Respond");
                return false;
            }
        });
    }
</script>



