<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CheckOutModal" tabindex="-1" role="dialog" aria-labelledby="CheckOutModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Check Out Roon</b>
                <b class="modal-title" style="color: darkblue;" id="lblExchangeRate"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <input id="checkoutid" name="checkoutid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="chinid" name="chinid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="rmid" name="rmid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="gid" name="gid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <input id="exrate" name="exrate" type="text" style="display: none;" value="" class="form-control" />
                        <input id="wprice" name="wprice" type="text" style="display: none;" value="" class="form-control" />
                        <input id="pprice" name="pprice" type="text" style="display: none;" value="" class="form-control" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startdatechout">ចាប់ផ្តើម</label>
                                    <input id="startdatechout" readonly="readonly" name="startdatechout" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="enddatechout">ដល់ថ្ងៃ</label>
                                    <input id="enddatechout" readonly="readonly" name="enddatechout" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="waterid" name="waterid" type="text" style="display: none;" value="" class="form-control" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wstartrecords">គីឡូទឺកចាស់</label>
                                    <input id="wstartrecords" readonly="readonly" name="wstartrecords" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wendrecords">គីឡូទឺកថ្មី</label>
                                    <input id="wendrecords" onfocus="this.select();" onchange="RecordWaterChange();" name="wendrecords" placeholder="" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input id="powerid" name="powerid" type="text" style="display: none;" value="" class="form-control" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="estartrecords">គីឡូភ្លើងចាស់</label>
                                    <input id="estartrecords" readonly="readonly" name="estartrecords" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eendrecords">គីឡូភ្លើងថ្មី</label>
                                    <input id="eendrecords" onfocus="this.select();" onchange="RecordElectricChange()" name="eendrecords" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wtotal">សរុបថ្លៃទឹក</label>
                                    <input id="wtotal" readonly="readonly" name="wtotal" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="etotal">សរុបថ្លៃភ្លើង</label>
                                    <input id="etotal" readonly="readonly" name="etotal" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rmprice">តម្លៃបន្ទប់</label>
                                    <input id="rmprice" readonly="readonly" name="rmprice" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="svprice">បង់ថ្លៃសេវា</label>
                                    <input id="svprice" readonly="readonly" name="svprice" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="grandtotal">សរុប</label>
                                    <input id="grandtotal" name="grandtotal" readonly="readonly" placeholder="0.00" value="0" type="number" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="totalpaybefor">បង់មុនចំនួន</label>
                                    <input id="totalpaybefor" name="totalpaybefor" readonly="readonly" placeholder="0" value="0" type="number" class="form-control input-sm">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="returnamt">ត្រលប់វិញចំនួន</label>
                                    <input id="returnamt" name="returnamt" readonly="readonly" placeholder="0.00" value="0" type="number" class="form-control input-sm">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="totalpay">ប្រាក់សរុបត្រូវបង់</label>
                                    <input id="totalpay" name="totalpay" readonly="readonly" placeholder="0.00" value="0" type="number" class="form-control input-sm">
                                </div>
                                @*<input type="hidden" id="wpid" />
                                <span>ថ្លៃភ្លើង</span> : 1m<sup>3</sup> = <label id="waterprice"></label><span> រៀល</span>
                                <br />
                                <span>ថ្លៃទឹក</span> : 1​KWH = <label id="electricprice"></label><span> រៀល</span>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="description">ពណ៌នា</label>
                                    <input id="description" name="description" placeholder="Description" value="" type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="lblPayDemage"></label>
                        <label id="itemprice" style="color: darkblue;display:none"></label>
                        <ul id="PayDemageList" class="list-group"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveCheckOut" onclick="CheckOutAction()" class="btn btn-info btn-sm pull-right" style="margin-left:10px;width:100px">Save</button>
                <button type="button" id="btnClose" onclick="CloseForm();" class="btn btn-danger btn-sm pull-right" style="margin-left:10px;width:100px">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function CloseForm() {
        window.location.reload(true);
    }
    function CheckOutAction() {
        CreatetWaterElectricUsage();
    }
    //Insert WE
    function CreatetWaterElectricUsage() {
        var data = new FormData();
        data.append("checkinid", $('#chinid').val());
        data.append("startdate", $('#startdatechout').val());
        data.append("enddate", $('#enddatechout').val());
        data.append("wstartrecord", $('#wstartrecords').val());
        data.append("wendrecord", $('#wendrecords').val());
        data.append("estartrecord", $('#estartrecords').val());
        data.append("eendrecord", $('#eendrecords').val());
        $.ajax({
            url: "/api/waterelectricusages",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                CreateCheckOut(result);
            },
            error: function (errormesage) {
                toastr.error("Electric usage insert faild!", "Server Respond");
                return false;
            }
        });
    }

    function CreateCheckOut(id) {
        var data = {
            guestid: $('#gid').val(),
            roomid: $('#rmid').val(),            
            weusageid: id,
            total: $('#totalamount').val(),
            paybefor: $('#totalpaybefor').val(),
            returnamount: $('#returnamt').val(),
            totalpayment: $('#totalpay').val(),
            description: $('#description').val(),
        };
        $.ajax({
            url: "/api/checkouts",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                CreateCheckOutDetail(result);
                UpdateStatusGuest();
                UpdateRoomStatusCheckOut(result);               
            },
            error: function (errormesage) {
                toastr.error("This checkout is exist in Database", "Server Respond");
                return false;
            }

        });
    }

    function CreateCheckOutDetail(id) {
        var data = new FormData();
        data.append("checkoutid", id);

        data.append("guestid", $('#gid').val());
        data.append("fromdate", $('#startdatechout').val());
        data.append("todate", $('#enddatechout').val());
        $.ajax({
            url: "/api/checkoutdetails",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                toastr.success("Check out successfully.", "Server Response");
                window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("This check out detail is exist in Database", "Server Respond");
                return false;
            }

        });
    }
    function UpdateRoomStatusCheckOut() {
        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#rmid").val() + "/FREE",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
                //
            },
            error: function (error) {
                toastr.error("Unblock room fail!", "Server Response");
            }
        });
    }
    function UpdateStatusGuest() {
        $.ajax({
            type: "PUT",
            url: "/api/updategueststatus/" + $("#guestid").val() + "/CHECK-OUT",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }
    function RecordWaterChange() {
        var wendrecords = document.getElementById('wendrecords').value;
        var wstartrecords = document.getElementById('wstartrecords').value;
        var wtotal = ((parseFloat(wendrecords) - parseFloat(wstartrecords)) * parseFloat($('#wprice').val())) / parseFloat($('#exrate').val());
        if (wtotal <= 0) {
            alert('Faild!');
            $('#wendrecords').focus();
        } else {
            $('#wtotal').val(wtotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            TotalPayment();
        }
    }
    function RecordElectricChange() {
        var eendrecords = document.getElementById('eendrecords').value;
        var estartrecords = document.getElementById('estartrecords').value;
        var etotal = ((parseFloat(eendrecords) - parseFloat(estartrecords)) * parseFloat($('#pprice').val())) / parseFloat($('#exrate').val());
        if (etotal <= 0) {
            alert('Faild!');
            $('#eendrecords').focus();
        } else {
            $('#etotal').val(etotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
            TotalPayment();
        }
    }
    function TotalPayment() {
        var watertotal = document.getElementById('wtotal').value;
        var eletrictotal = document.getElementById('etotal').value;
        var roomprice = document.getElementById('rmprice').value;
        var servicecharge = document.getElementById('svprice').value;
        var totalpaybefor = document.getElementById('totalpaybefor').value;
        
        var sumval = document.getElementById("itemprice").innerText;
       // alert(sumval);
        var paydemage = 0;
        if (sumval >= 0) {
            paydemage = sumval;
        }
        var grandtotal = parseFloat(watertotal) + parseFloat(eletrictotal) + parseFloat(roomprice) + parseFloat(servicecharge) + parseFloat(paydemage);
        $('#grandtotal').val(grandtotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $('#grandtotalkh').val((grandtotal * parseFloat($('#exrate').val())).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        var totalreturn = grandtotal - parseFloat(totalpaybefor);
        if (totalreturn >= 0) {
            $('#totalpay').val(totalreturn.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        } else {
            $('#returnamt').val((totalreturn * -1).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        }
    }


    function InsertPowerCheckOut() {
        var data = new FormData();
        data.append("checkinid", $('#chinid').val());
        data.append("predate", $('#startdatechout').val());
        data.append("prerecord", $('#estartrecords').val());
        data.append("currentdate", $('#enddatechout').val());
        data.append("currentrecord", $('#eendrecords').val());

        $.ajax({
            type: "POST",
            url: "/api/electrics",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                //
            },
            error: function (errormesage) {
                toastr.error("Water usage insert faild!", "Server Respond");
                return false;
            }

        });
    }
    function InsertWaterCheckOut() {
        var data = new FormData();
        data.append("checkinid", $('#chinid').val());
        data.append("predate", $('#startdatechout').val());
        data.append("prerecord", $('#wstartrecords').val());
        data.append("currentdate", $('#enddatechout').val());
        data.append("currentrecord", $('#wendrecords').val());

        $.ajax({
            type: "POST",
            url: "/api/waterusage",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                InsertCheckOut();
            },
            error: function (errormesage) {
                toastr.error("Water usage insert faild!", "Server Respond");
                return false;
            }
        });
    }

</script>