<div class="modal fade " data-backdrop="static" data-keyboard="false" id="CheckInNowModal" tabindex="-1" role="dialog" aria-labelledby="CheckInNowModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button"  class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">ចូលស្នាក់នៅ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="id" name="id" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="roomid" name="roomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="namekh">ឈ្មោះភ្ញៀវជាភាសាខ្មែរ</label>
                                            <input id="namekh" name="namekh" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%;font-family:'Khmer OS Battambang'" />
                                        </div>
                                        <div class="form-group">
                                            <label for="name">ឈ្មោះភ្ញៀវ</label>
                                            <input id="name" name="name" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="gsex">ភេទ</label>
                                            <select class="form-control input-sm" id="gsex">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dob">ថ្ងៃខែឆ្នាំកំណើត</label>
                                            <input id="dob" name="dob" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                                        </div>
                                        <div class="form-group">
                                            <label for="addr">អាស័យដ្ឋាន</label>
                                            <input id="addr" name="addr" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="national">សញ្ជាតិ</label>
                                            <input id="national" name="national" placeholder="Enter Nationality" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">លេខទូរសព្ទ</label>
                                            <input id="phone" name="phone" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gemail">អ៊ីម៉ែល</label>
                                            <input id="gemail" name="gemail" placeholder="Enter Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gssn">លេខអត្តសញ្ញាណប័ណ្ណ</label>
                                            <input id="gssn" name="ssn" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gpassport">លិខិតឆ្លងដែន</label>
                                            <input id="gpassport" name="passport" placeholder="Enter Passport Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="invoiceno">លេខរៀងកក់</label>
                                            <input id="invoiceno" name="invoiceno" readonly="readonly" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="frmbookroomid">លេខបន្ទប់</label>
                                            <select class="form-control input-sm" id="chnowroomid" disabled>
                                                @foreach (var room in Model.ListRoomFree)
                                                {
                                                    <option value=@room.id>@room.room_no</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="numman">បុរស</label>
                                            <input id="numman" name="numman" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="numwomen">ស្ត្រី</label>
                                            <input id="numwomen" name="numwomen" placeholder="Enter number of women" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="numchild">ក្មេងៗ</label>
                                            <input id="numchild" name="numchild" placeholder="Enter number of child" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">លេខកុងទ័រភ្លើង</label>
                                            <input id="powerprerecord" name="powerprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">លេខកុងទ័រទឹក</label>
                                            <input id="waterprerecord" name="waterprerecord" placeholder="Enter current number" value="0" type="text" class="form-control input-sm">
                                        </div>
                                        <div class="form-group">
                                            <span>អត្រាប្តូរប្រាក់</span> : 1 <span>$</span> = <label id="examount"></label><span> រៀល</span>
                                            <input type="hidden" id="exid" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <div class="col-md-3 col-md-offset-6" id="hidecheckout">
                    <button type="button" id="btnCheckOut" data-dismiss="modal" class="btn btn-danger btn-block btn-sm">Cancel</button>
                </div>
                <div class="col-md-3" id="hidepayment">
                    <button type="button" id="btnSaveCheckIn" onclick="OnSaveCheckInNow()" class="btn btn-info btn-block btn-sm">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function OnSaveCheckInNow() {
        InsertGuest();
    }

    function InsertGuest() {
        var data = new FormData();
        data.append("name", $("#name").val());
        data.append("namekh", $("#namekh").val());
        data.append("sex", $("#gsex").val());
        data.append("dob", $("#dob").val());
        data.append("address", $("#addr").val());
        data.append("nationality", $("#national").val());
        data.append("phone", $("#phone").val());
        data.append("email", $("#gemail").val());
        data.append("ssn", $("#gssn").val());
        data.append("passport", $("#gpassport").val());
        data.append("status", 'CHECK-IN');
        $.ajax({
            type: "POST",
            url: "/api/guests",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                CheckInNow(result);
                
                //toastr.success("Guest in successfully!", "Server Respond");
            },
            error: function (error) {
                //console.log(error);
                toastr.error("Please check all selected field!.", "Server Response");
            }
        });

    }

    function CheckInNow(gid) {
        var data = {
            roomid: $('#chnowroomid').val(),
            guestid: gid,
            child: $('#numchild').val(),
            man: $('#numman').val(),
            women: $('#numwomen').val(),
        };
        $.ajax({
            url: "/api/checkins",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                UpdateRoomStatus();
                CreateInvoice(result);
                toastr.success("Check In successfully.", "Server Response");
            },
            error: function (errormesage) {
                toastr.error("This Name Guest is exist in Database", "Server Respond");
                return false;
            }

        });
    }

    function UpdateRoomStatus() {
        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#chnowroomid").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
                //toastr.success("Room Status has been Update successfully.", "Server Response");
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }

    function InsertPowerUsage(id) {
        var data = {
            guestid: $('#guestidchin').val(),
            prerecord: $('#powerprerecord').val(),
            invoiceid: id,    
        };
        $.ajax({
            url: "/api/powerusage",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Power usage insert faild!", "Server Respond");
                return false;
            }

        });
    }

    function InsertWaterUsage(id) {
        var data = {
            guestid: $('#guestidchin').val(),
            prerecord: $('#waterprerecord').val(),
            invoiceid: id,
            price: @Model.WaterPowerPriceID,
        };
        $.ajax({
            url: "/api/waterusage",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Water usage insert faild!", "Server Respond");
                return false;
            }

        });
    }


    function CreateInvoice(result) {
        var data = {
            invoiceno: $('#invoiceno').val(),
            guestid: '1',
            checkinid: result,
            exchangerateid: @Model.ExchangeRateID,
        };

        $.ajax({
            url: "/api/invoices",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                InsertPowerUsage(result);
                InsertWaterUsage(result);

                $("#CheckInNowModal").modal('hide');
                window.location.reload(true);
                //alert('Print Invoice successfully!');
            },
            error: function (errormesage) {
                toastr.error("This Booking ID is exist in Database", "Server Respond");
            }
        });
    }
</script>