
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="FloorModal" tabindex="-1" role="dialog" aria-labelledby="FloorModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnCloseFloor();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">@Resources.Content.ManageFloor</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="Floorid" name="Floorid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="floorno">Floor No</label>
                            <input id="floorno" name="floorno" placeholder="Enter Floor No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="buildingid">Building</label>
                            <select class="select form-control input-sm" id="buildingid">
                                @foreach (var roomType in Model.Buildings)
                                {
                                    <option value=@roomType.id>@roomType.buildingname</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label>&nbsp;</label>
                        <button class="btn btn-info btn-sm pull-right" type="button" data-toggle="modal" data-target="#BuildingModal"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSaveFloor" onclick="FloorAction()" class="btn btn-info btn-block btn-sm">Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                        <div class="col-md-12">
                            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="dtFloor">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Floor no</th>
                                        <th>Building</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                   
                </div>
            </div>
        </div>

    </div>
</div>




