
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="RoomModal" tabindex="-1" role="dialog" aria-labelledby="RoomModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" onclick="OnCloseRoomModal()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <b class="modal-title" style="color: darkblue;">@Resources.Content.ManageRoom</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="Roomid" name="Roomid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                            <label for="roomno">Room no</label>
                            <input id="roomno" name="roomno" placeholder="Enter Room No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="floorid">Floor</label>
                            <select class="form-control input-sm" id="floorid">
                                @foreach (var floor in Model.Floors)
                                {
                                    <option value=@floor.id>@floor.floor_no</option>
                                }
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="roomtypeid">Room Type</label>
                            <select class="form-control input-sm" id="roomtypeid">
                                @foreach (var roomType in Model.RoomTypes)
                                {
                                    <option value=@roomType.id>@roomType.roomtypename</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="servicecharge">Service Charge</label>
                            <input id="servicecharge" name="servicecharge" placeholder="Enter Service Charge" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" name="price" placeholder="$0.00" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="roomkey">Room Key</label>
                            <input id="roomkey" name="roomkey" placeholder="Enter Room Key" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="roomstatus">Status</label>
                            <select id="roomstatus" name="roomstatus" class="form-control input-sm" style="min-width: 100%">
                                <option>FREE</option>
                                <option>BOOK</option>
                                <option>CHECK-IN</option>
                                <option>BLOCK</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>&nbsp;</label>
                        <button type="button" id="btnSaveRoom" onclick="RoomAction()" class="btn btn-info pull-right btn-sm" style="width:150px">Add New</button>
                    </div>
                </div>
                <hr />
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableRoom">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Room No</th>
                            <th>Price</th>
                            <th>Room Type</th>
                            <th>Floor</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



