@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container">
    <div class="col-md-12">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div class="alert alert-success">
            <h4>@ViewBag.data</h4>
            <p>@ViewBag.sms</p>
        </div>
        <a href="https://mail.google.com" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span> Check Inbox</a>
    </div>
</div>

	
