@using ReportViewerForMvc;
@{
    //ViewBag.Title = "_invoicerpt";

    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="PaySlipModalRpt" tabindex="-1" role="dialog" aria-labelledby="PaySlipModalRpt" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <button type="button" id="btnTest" onclick="CloseModalStaff()" class="btn btn-info btn-danger btn-sm">Cancel</button>
                    <div id="" class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
