@{
    ViewBag.Title = "Manage Room";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
    <div class="page-wrapper">

        <!-- Sidebar wrapper start -->
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">

                <!-- sidebar menu start -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown active">
                            <a href="#">
                                <i class="icon-devices_other"></i>
                                <span class="menu-text">Dashboards</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="index.html" class="current-page">Admin Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="sales-dashboard.html">Sales Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="crm-dashboard.html">CRM Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="ecommerce-dashboard.html">Ecommerce Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </li>                   
                    </ul>
                </div>
                <!-- sidebar menu end -->
            </div>
            <!-- Sidebar content end -->
        </nav>
        <!-- Sidebar wrapper end -->
        <!-- Page content start  -->
        <div class="page-content">
            <div class="main-container">

                

            </div>
            <!-- Main container end -->

        </div>
        <!-- Page content end -->

    </div>
 