
<div class="modal fade " data-backdrop="static" data-keyboard="false" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="PaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnCloseBook()" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;">បង់ប្រាក់</b>
                @*<b class="modal-title" style="color: darkblue;" id="lblidroom">Payment</b>*@

            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="bookid" name="bookid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="bookroomid" name="bookroomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="guestname">លេខវិក័យបត្រ</label>
                                            <input id="guestname" name="guestname" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="gnamekh">ភ្ញៀវ</label>
                                            <input id="gnamekh" name="gnamekh" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="frmbookroomid">បន្ទប់</label>
                                            <select class="form-control input-sm" id="frmbookroomid">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                            </select>
                                        </div>
                                        @*<div class="form-group">
                                            <label for="frmbookroomid">Room</label>
                                            <select class="form-control input-sm" id="frmbookroomid">
                                                @foreach (var room in Model.ListRoomFree)
                                                {
                                                    <option value=@room.id>@room.room_no</option>
                                                }
                                            </select>
                                        </div>*@
                                        <div class="form-group">
                                            <label for="address">តម្លៃបន្ទប់</label>
                                            <input id="address" name="address" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">គីឡូទឺកចាស់</label>
                                                    <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">គីឡូទឺកថ្មី</label>
                                                    <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phonenumber">សរុបការប្រើប្រាស់ទឺក</label>
                                            <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">គីឡូភ្លើងចាស់</label>
                                                    <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber">គីឡូភ្លើងថ្មី</label>
                                                    <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phonenumber">សរុបការប្រើប្រាស់ភ្លើង</label>
                                            <input id="phonenumber" name="phonenumber" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="passport">សរុបប្រាក់ត្រូវបង់</label>
                                            <input id="passport" name="passport" placeholder="Enter Passport Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">ជាប្រាក់រៀល</label>
                                            <input id="email" name="email" placeholder="Enter Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ssn">NOTE</label>
                                            <input id="ssn" name="ssn" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="bookingno">សាច់ប្រាក់ទទួលបានជាដុល្លា</label>
                                            <input id="bookingno" name="bookingno" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="bookingno">សាច់ប្រាក់ទទួលបានជារៀល</label>
                                            <input id="bookingno" name="bookingno" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="bookingno">ជំពាក់</label>
                                            <input id="bookingno" name="bookingno" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="totalbooking">មូលហេតុ</label>
                                            <input id="totalbooking" name="totalbooking" placeholder="$0.00" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="paydollarbooking">ប្រាក់ត្រូវសងវិញ</label>
                                            <input id="paydollarbooking" name="paydollarbooking" placeholder="$0.00" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                        <div class="form-group">
                                            <label for="payreilbooking">សាច់ប្រាក់</label>
                                            <input id="payreilbooking" name="payreilbooking" placeholder="000.0" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="checkindate">Description</label>
                                            <input id="checkindate" name="checkindate" type="text" value="" class="form-control input-sm" placeholder="Description" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>អត្រាប្តូរប្រាក់ <span style="color:blue">1$=</span></label><label style="color:blue" id="exchagerate">​ 4050 រៀល</label>
                                        </div>
                                        <div class="form-group">
                                            <label>តម្លៃទឹក <span style="color:blue">1​ ម៉ែត្រគូប=</span></label><label style="color:blue" id="exchagerate">​ 1500 រៀល</label>
                                        </div>
                                        <div class="form-group">
                                            <label>តម្លៃភ្លើង <span style="color:blue">1KWH=</span></label><label style="color:blue" id="exchagerate">​ 2000 រៀល</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <div class="col-md-3 col-md-offset-6" id="hidecheckout">
                    <button type="button" id="btnCheckOut" data-dismiss="modal" class="btn btn-danger btn-block btn-sm">Cancel</button>
                </div>
                <div class="col-md-3" id="hidepayment">
                    <button type="button" id="btnPayment" onclick="OnPayAction()" class="btn btn-info btn-block btn-sm">Pay Now</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    @section scripts{

    }
</script>
