

<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="paybyModel" tabindex="-1" role="dialog" aria-labelledby="paybyModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <b class="modal-title" style="color:darkblue">Pay By</b>
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="bid" name="bid" type="text" value="" class="form-control input-sm hidden"/>
                        @*<input id="cpaybyid" name="cpaybyid" type="text" value="" class="form-control input-sm hidden" placeholder="Enter ID" />*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <img class="center img-responsive img-thumbnail" id="screenshot" src="~/Images/download.png" />
                            </div>
                            <div class="form-group">
                                <label>Screen Shot</label>
                                <input onchange="readURLPayby(this);" type="file" id="file" style="width:100%;" />
                                <input type="hidden" value="" id="file_old" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="paybydate">Payby Date</label>
                            <input id="paybydate" name="paybydate" type="date" ​ value="" class="form-control input-sm" />
                        </div>
                        <div class="col-md-8">     
                            <div class="form-group">
                                <label for="paymentmethod">Payment Method</label>
                                <select class="form-control input-sm selectpicker" id="paymentmethod" @*data-style="btn-dark" data-hide-disabled="true" data-live-search="false"*@>
                                    <option>ABA Bank</option>
                                    <option>ACleda Bank</option>
                                    <option>PPC Bank</option>
                                    <option>Sathapana Bank</option>
                                    <option>CAB Bank</option>
                                    <option>Wing Bank</option>
                                </select>
                            </div>                            
                        </div>
                        @*<div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#paymentmethodModel" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span> New</button>
                            </div>
                        </div>*@
                        <div class="col-md-8">
                            <label for="pNote">Note</label>
                            <input id="pNote" name="pNote" type="text" ​ value="" class="form-control input-sm" />
                            <br />
                            <button type="button" id="btnpayby" onclick="PaybyAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                            <hr />
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <table id="paybyTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Payment Method</td>
                                <td>Note</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





