
<div class="modal fade " data-backdrop="static" data-keyboard="false" id="PrintNewInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="PrintNewInvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnCloseNewInv();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b>@Resources.Content.PrintInvoice</b></h4>
                <b class="modal-title" style="color: darkblue;" id="lblExchangeRate"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="invid" name="invid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="checkinid" name="checkinid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="roomid" name="roomid" type="text" style="display: none;" value="" class="form-control" />

                    <input id="exrate" name="exrate" type="text" style="display: none;" value="" class="form-control" />
                    <input id="wprice" name="wprice" type="text" style="display: none;" value="" class="form-control" />
                    <input id="pprice" name="pprice" type="text" style="display: none;" value="" class="form-control" />
                    <input id="weid" name="weid" type="text" style="display: none;" value="" class="form-control" />

                    <input id="ispaid" name="ispaid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="isprint" name="isprint" type="text" style="display: none;" value="" class="form-control" />

                    <input id="action" name="action" type="text" style="display: none;" value="" class="form-control" />
                    <span class="text-primary"></span>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="invno">លេខវិក័យបត្រ</label>
                                    <input id="invno" readonly="readonly" name="invno" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="name">ភ្ញៀវ</label>
                                    <input id="name" readonly="readonly" name="name" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="roomno">បន្ទប់</label>
                                    <input id="roomno" readonly="readonly" name="roomno" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="rmprice">តម្លៃបន្ទប់</label>
                                    <input id="rmprice" readonly="readonly" name="rmprice" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%;" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="stdate">ចាប់ផ្តើម</label>
                                            <input id="stdate" readonly="readonly" name="stdate" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="eddate">ដល់ថ្ងៃ</label>
                                            <input id="eddate" readonly="readonly" name="eddate" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input id="waterid" name="waterid" type="text" style="display: none;" value="" class="form-control" />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="recordwaterold">គីឡូទឺកចាស់</label>
                                            <input id="recordwaterold" readonly="readonly" name="recordwaterold" placeholder="Enter Phone" type="number" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="recordwaternew">គីឡូទឺកថ្មី</label>
                                            <input id="recordwaternew" onfocus="this.select();" onchange="RecordWaterChange();" name="recordwaternew" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input id="powerid" name="powerid" type="text" style="display: none;" value="" class="form-control" />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="recordpowerold">គីឡូភ្លើងចាស់</label>
                                            <input id="recordpowerold" readonly="readonly" name="recordpowerold" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="recordpowernew">គីឡូភ្លើងថ្មី</label>
                                            <input id="recordpowernew" onfocus="this.select();" onchange="RecordPowerChange()" name="recordpowernew" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="waterusagetotal">ប្រើប្រាស់ទឺកសរុប</label>
                                            <input id="waterusagetotal" readonly="readonly" name="waterusagetotal" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="powerusagetotal">ប្រើប្រាស់ភ្លើងសរុប</label>
                                            <input id="powerusagetotal" readonly="readonly" name="powerusagetotal" placeholder="Enter Phone" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="svprice">បង់ថ្លៃសេវា</label>
                                    <input id="svprice" readonly="readonly" name="svprice" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="gratndtotal">សរុបប្រាក់ត្រូវបង់</label>
                                    <input id="grandtotal" readonly="readonly" name="gratndtotal" placeholder="Enter Passport Number" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="grandtotalkh">ជាប្រាក់រៀល</label>
                                    <input id="grandtotalkh" readonly="readonly" name="grandtotalkh" placeholder="Enter Email" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="note">ពណ៌នា</label>
                                    <input id="note" name="note" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" onclick="InvoiceNewPrint();" class="btn btn-info btn-sm pull-right" style="margin-left:10px;width:100px">@Resources.Content.Save</button>
                            <button type="button" id="" onclick="OnCloseNewInv();" class="btn btn-danger btn-sm pull-right" style="margin-left:10px;width:100px">@Resources.Content.Cancel</button>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

