
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 style="color: darkblue;">គ្រប់គ្រងភ្ញៀវ</h4>
        </div>
    </div>
    <hr />
    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableGuest">
        <thead>
            <tr>
                <th>លេខ</th>
                <th>ឈ្មោះ</th>
                <th>ឈ្មោះជាភាសាខ្មែរ</th>
                <th>ភេទ</th>
                <th>ថ្ងៃខែឆ្នាំកំណើត</th>
                <th>អាស័យដ្ឋាន</th>
                <th>លេខទូរសព្ទ</th>
                <th>អ៊ីម៉ែល</th>
                <th>ស្ថានភាព</th>
                <th style="width:25px">សកម្មភាព</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Html.Partial("_History")
@Html.Partial("_Guest")
@section scripts{
    @Scripts.Render("~/Scripts/Functions/guest.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
