<div class="modal fade " data-backdrop="static" data-keyboard="false" id="BookingModal" tabindex="-1" role="dialog" aria-labelledby="BookingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="CloseBook()" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">បិទ</button>
                <b class="modal-title" style="color: darkblue;" id="lblbookrmid"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="bookid" name="bookid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="bookroomid" name="bookroomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />                
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bookingno">លេខរៀងកក់</label>
                                    <input readonly="readonly" id="bookingno" name="bookingno" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="guestname">ភ្ញៀវ</label>
                                    <input readonly="readonly" id="guestname" name="guestname" placeholder="Enter Book No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="roomid">បន្ទប់</label>
                                    <input readonly="readonly" id="roomid" name="roomid" placeholder="$0.00" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="roomprice">តម្លៃបន្ទប់</label>
                                    <input readonly="readonly" id="roomprice" name="roomprice" placeholder="$0.00" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="totalbooking">សរុបប្រាក់កក់</label>
                                    <input onchange="TotalBook()" id="totalbooking" name="totalbooking" onfocus="this.select();" placeholder="$0.00" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="paydollarbooking">សាច់ប្រាក់ទទួលបានជាដុល្លា</label>
                                    <input onchange="ChangePayBook()" id="paydollarbooking" name="paydollarbooking" onfocus="this.select();" placeholder="$0.00" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="payreilbooking">សាច់ប្រាក់ទទួលបានជារៀល</label>
                                    <input id="payreilbooking" name="payreilbooking" placeholder="00" onfocus="this.select();" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="checkindate">ថ្ងៃចូលស្នាក់នៅ</label>
                                    <input id="checkindate" name="checkindate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                                </div>
                                <div class="form-group">
                                    <label for="expiredate">ថ្ងៃផុតកំណត់ចូលស្នាក់នៅ</label>
                                    <input id="expiredate" name="expiredate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                                </div>
                                <div class="form-group">
                                    <label for="bookingnote">កត់ត្រា</label>
                                    <input id="bookingnote" name="bookingnote" placeholder="Note" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPayment" onclick="UpdateBooking()" class="btn btn-info btn-sm pull-right" style="margin-left:5px;width:100px">Update</button>
                <button type="button" id="btnCheckOut" onclick="OnCloseBook()" data-dismiss="modal" class="btn btn-danger btn-sm pull-right" style="margin-left:5px;width:100px">Cancel</button>
            </div>
        </div>

    </div>
</div>
