
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4 style="color: darkblue;" id="lblbook">គ្រប់គ្រងការកក់</h4>
    @*<button type="button" id="btnPayment" onclick="OnBookingAction()" class="btn btn-info btn-sm pull-right" style="margin-left:5px;width:100px" data-toggle="modal" data-target="#BookingModal">Book Now</button>*@
    <hr />
    <div class="row">
        <div class="col-md-2">
            <label>ស្ថានភាព</label>
            <div class="form-group">
                <select class="form-control input-sm" id="status">
                    <option value="Active">----- កក់រួច -----</option>
                    <option value="Cancel">----- បោះបង់ -----</option>
                    <option value="Expire">----- ផុតកំណត់ -----</option>
                    <option value="All">----- ទាំងអស់ -----</option>
                </select>
            </div>
        </div>
    </div>

    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableBooking">
        <thead>
            <tr>
                <th>លេខ</th>
                <th>ឈ្មោះ</th>
                <th>បន្ទប់លេខ</th>
                <th>ប្រភេទបន្ទប់</th>
                <th>សរុប</th>
                <th>បង់ថ្លៃសេវា</th>
                <th>ថ្ងៃចូលស្នាក់នៅ</th>
                <th>ថ្ងៃផុតកំណត់ចូលស្នាក់នៅ</th>
                <th>ថ្ងៃកក់</th>
                <th>សកម្មភាព</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Html.Partial("_Booking")

@section scripts{
    @Scripts.Render("~/Scripts/Functions/booking.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}

