
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">

            @*<button class="btn-success btn-xs pull-right" type="button" onclick="OnClick();" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បន្ថែមបុគ្គលិក</button>
            <button class="btn-success btn-xs pull-right" type="button" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> គ្រប់គ្រងកក់</button>*@
            
            <h5 class="modal-title" style="color:aliceblue">គ្រប់គ្រងការកក់</h5>
        </div>
        <div class="panel-body">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableBooking">
                <thead>
                    <tr>
                        <th>លេខ</th>
                        <th>ឈ្មោះ</th>
                        <th>បន្ទប់លេខ</th>
                        <th>ប្រភេទបន្ទប់</th>
                        <th>សរុប</th>
                        <th>បង់ថ្លៃសេវា</th>
                        <th>ថ្ងៃចូលស្នាក់នៅ</th>
                        <th>ថ្ងៃផុតកំណត់ចូលស្នាក់នៅ</th>
                        <th>ថ្ងៃកក់</th>
                        <th>សកម្មភាព</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Functions/booking.js")

    @Scripts.Render("~/Scripts/moment.min.js")
}